html,
body {
  height: 100%;
  margin: 0;
}

.nav-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 5vh;
  border-bottom: 1px solid rgb(36, 137, 24);
}

.nav-title-container {
  display: flex;
  align-items: center;
  padding-left: 20px;
  flex: 1;
}

.nav-title {
  font-size: 16px;
  font-weight: bold;
  color: rgb(36, 137, 24);
}

.nav-items-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  font-size: 14px;
  padding-right: 5%;
}

.nav-item {
  font-size: 14px;
  color: rgb(36, 137, 24);
  cursor: pointer;
  padding-right: 2%;
  padding-left: 2%;
}
